# Variable

In [45]:
x = 10
println(x)
println(typeof(x))

10
Int64

In [44]:
x = -5
println(x)
println(typeof(x))

-5
Int64

In [43]:
x1 = 5.5
println(x1)
println(typeof(x1))

5.5
Float64

In [47]:
s = "I love Bangladesh"
println(s)
println(typeof(s))

I love Bangladesh
String

In [48]:
v = [1,2,3,4,5]
v

5-element Vector{Int64}:
 1
 2
 3
 4
 5

In [49]:
vv = v
vv

5-element Vector{Int64}:
 1
 2
 3
 4
 5

In [51]:
pop!(vv)

5

In [53]:
v

4-element Vector{Int64}:
 1
 2
 3
 4

In [55]:
arr = [1,2, "str", 45]
arr

4-element Vector{Any}:
  1
  2
   "str"
 45

In [56]:
1:5

1:5

In [57]:
typeof(1:5)

UnitRange{Int64}

In [58]:
c = collect(1:5)
c

5-element Vector{Int64}:
 1
 2
 3
 4
 5

In [59]:
c = collect(0:5:20)
c

5-element Vector{Int64}:
  0
  5
 10
 15
 20

In [60]:
for i in 1:5 println("$i value") end

1 value
2 value
3 value
4 value
5 value

In [61]:
2 in 1:5

true

In [62]:
length(1:10)

10

In [63]:
sum(1:10)

55

# String

In [31]:
str1 = "Hello "
str2 = "World !"

str = str1 * str2
print(str)

Hello World !

In [32]:
str1 = "Hello "
str = str1 ^ 5
print(str)

Hello Hello Hello Hello Hello

In [33]:
str1 = "Hello "
str2 = "World !"
str = string(str1, str2)
str

"Hello World !"

In [34]:
s1 = "Julia"
s2 = "is"
s3 = "a"
s4 = "programming"
s5 = "language"
str = string(s1, " ", s2, " ", s3, " ", s4, " ", s5)
print(str)

Julia is a programming language

In [36]:
s1 = "Julia"
s2 = "is"
s3 = "a"
s4 = "programming"
s5 = "language"

str = s1 * " " * s2 * " " * s3 * " " * s4 * " " * s5
print(str)

Julia is a programming language

# Conditional Operation

In [98]:
function fun_name(x, y)
    if x>y
        print("x is bigger than y")
    else
        print("equal of x or less than y")
    end
end

fun_name (generic function with 1 method)

In [99]:
fun_name(3, 5)

equal of x or less than y

In [100]:
fun_name(5, 3)

x is bigger than y

In [89]:
function test(x, y)
           if x < y
               println("x is less than y")
           elseif x > y
               println("x is greater than y")
           else
               println("x is equal to y")
           end
end

test (generic function with 1 method)

In [90]:
test(3, 5)

x is less than y

In [91]:
test(5, 3)

x is greater than y

In [92]:
test(5, 5)

x is equal to y

In [101]:
x = 3
y = 5
print(x>y ? "x is greater than y" : "y is greater or equal")

y is greater or equal

In [104]:
test(x, y) = println(x< y ? "x is less than y" :
                     x> y ? "x is greater than y" : "x is equal to y")

test (generic function with 1 method)

In [105]:
test(3, 5)

x is less than y

In [106]:
test(5, 3)

x is greater than y

In [107]:
test(3, 3)

x is equal to y

# Recurrsion

In [109]:
function fact(n::Int)
           n >= 0 || error("n must be non-negative")
           n == 0 && return 1
           n * fact(n-1)
end

fact (generic function with 1 method)

In [110]:
fact(5)

120

In [111]:
fact(3)

6

In [113]:
fact(-1)

LoadError: n must be non-negative

# While Loop

In [115]:
i = 1

while i<5
    println(i)
    global i += 1
end

1
2
3
4

In [123]:
i = 1
while true
    println(i)
    if i>9
        break
    end
    global i += 1
end

1
2
3
4
5
6
7
8
9
10

In [30]:
str_list = ["Hasan", "Moni", "Nomi"]

i = 1
while i<=length(str_list)
    println(str_list[i])
    i += 1
end

Hasan
Moni
Nomi

# For Loop

In [117]:
for i=1:5
    println(i)
end

1
2
3
4
5

In [120]:
for i in [1, 2, 4, 3, 5, 7]
    println(i)
end

1
2
4
3
5
7

In [121]:
for s ∈ ["A", "B", "C"]
    println(s)
end

A
B
C

In [125]:
for j=1:100
    println(j)
    if j>11
        break
    end
end

1
2
3
4
5
6
7
8
9
10
11
12

In [3]:
for i=1:10
    if i%3 != 0
        continue
    end
    println(i)
end

3
6
9

In [6]:
for i=1:3, j=2:3
    println((i, j))
end

(1, 2)
(1, 3)
(2, 2)
(2, 3)
(3, 2)
(3, 3)

In [24]:
l = ["hasan", "moni", "nomi"]
for i in l
    println(i)
end

hasan
moni
nomi

In [25]:
l = ("Hasan", "Moni", "Nomi")
for i in l
    println(i)
end

Hasan
Moni
Nomi

In [26]:
str = "String"
for i in str
    println(i)
end

S
t
r
i
n
g

In [28]:
for i in 1:5
    for j in 1:i
        println(j)
    end
    println()
end

1

1
2

1
2
3

1
2
3
4

1
2
3
4
5

# Zip

In [7]:
for (i, j) in zip([1,2,3], [5,6,7])
    println((i, j))
end

(1, 5)
(2, 6)
(3, 7)

# Exception handling

In [8]:
println(sqrt(-1))

LoadError: DomainError with -1.0:
sqrt will only return a complex result if called with a complex argument. Try sqrt(Complex(x)).

In [9]:
try 
    sqrt(-1)
catch
    print("not possible square root of  negative number")
end

not possible square root of  negative number

In [11]:
try
    sqrt(-1)
catch
    println("sqrt is not possible of a negative number")
finally
    println("After axception")
end

sqrt is not possible of a negative number
After axception

In [16]:
function fun_name(x)
    if x<5
        throw(error())
    end
    return sqrt(x)
end 


try
    println(fun_name(8))
    println(fun_name(4))
catch e 
    println("value less than five")
end

2.8284271247461903
value less than five

In [17]:
function fun_name(x)
    if x<5
        throw(error())
    end
    return sqrt(x)
end

try
    println(fun_name(6))
    println(fun_name(4))
catch e
    println("value is less than five")
    throw(error())
end

2.449489742783178
value is less than five

LoadError:

In [21]:
function fun_name(x)
    if x<5
        throw(error())
    end
    println(sqrt(x))
end


try
    try
        println(fun_name(7))
        println(fun_name(4))
    catch e
        println("less than five")
        throw(error())
    end
catch e
    println("second catch block")
end

2.6457513110645907
nothing
less than five
second catch block

# Array

In [69]:
a = [2,4,6,8,10,1,3,5,7,9]
println(a)
a[2] = 6
println(a)

[2, 4, 6, 8, 10, 1, 3, 5, 7, 9]
[2, 6, 6, 8, 10, 1, 3, 5, 7, 9]

# Multidimensional Array

In [65]:
ma = [2 4 6; 1 3 5; 2 3 4]
ma

3×3 Matrix{Int64}:
 2  4  6
 1  3  5
 2  3  4

In [66]:
a = [[2,4,6], [1,3,5], [7,8,9]]
a

3-element Vector{Vector{Int64}}:
 [2, 4, 6]
 [1, 3, 5]
 [7, 8, 9]

# Tuples

In [67]:
t = (2,4,6,8,10)
println(t)

(2, 4, 6, 8, 10)

In [72]:
t[2]

4

# Dict

In [73]:
# empty dicionary 
d = Dict()
println("Empty dictionary = ", d)

Empty dictionary = Dict{Any, Any}()

In [74]:
# untype dicionary
d2 = Dict("a" => 1, "b" => 2, "c" => 3)
d2

Dict{String, Int64} with 3 entries:
  "c" => 3
  "b" => 2
  "a" => 1

In [75]:
# type dictionary
d3 = Dict{String, Integer}("A" => 1, "B" => 2, "C" => 3)
println(d3)

Dict{String, Integer}("B" => 2, "A" => 1, "C" => 3)

In [88]:
d = Dict(1 => "a", "b" => "string", "c" => 5)
println(d)
println(d["b"])
println(d["c"])
println(d[1])

Dict{Any, Any}("c" => 5, "b" => "string", 1 => "a")
string
5
a

In [91]:
println(get(d, "b", 0))

string

In [93]:
dict = Dict("a" => 1, "b" => 2, "c" => "Hello", 4 => 10)
println(keys(dict))
println(values(dict))

Any[4, "c", "b", "a"]
Any[10, "Hello", 2, 1]

In [94]:
dict = Dict("a" => 1, "b" => 2, "c" => "Hello", 4 => 10)
for i in dict
    println(i)
end

Pair{Any, Any}(4, 10)
Pair{Any, Any}("c", "Hello")
Pair{Any, Any}("b", 2)
Pair{Any, Any}("a", 1)

In [96]:
dict = Dict("a" => 1, "b" => 2, "c" => "Hello", 4 => 10)
for i in keys(dict)
    println(i, "=>", dict[i])
end

4=>10
c=>Hello
b=>2
a=>1

In [98]:
dict = Dict("a" => 1, "b" => 2, "c" => "Hello", 4 => 10)
for (i, j) in dict
    println(i, "=>", j)
end

4=>10
c=>Hello
b=>2
a=>1

In [111]:
dict = Dict("a" => 1, "b" => 2, "c" => "Hello", 4 => 10)
println("Initial dictionary :\n", dict)

dict["K"] = "New value"
println("After adding K :\n", dict)

dict[2] = 5
println("After adding key 2 :\n", dict)

pop!(dict, "K")
println("After deleting key K :\n", dict)

Initial dictionary :
Dict{Any, Any}(4 => 10, "c" => "Hello", "b" => 2, "a" => 1)
After adding K :
Dict{Any, Any}(4 => 10, "c" => "Hello", "b" => 2, "K" => "New value", "a" => 1)
After adding key 2 :
Dict{Any, Any}(4 => 10, "c" => "Hello", 2 => 5, "b" => 2, "K" => "New value", "a" => 1)
After deleting key K :
Dict{Any, Any}(4 => 10, "c" => "Hello", 2 => 5, "b" => 2, "a" => 1)

# Set

In [114]:
s = Set()
println("Empty set :\n", s)

Empty set :
Set{Any}()

In [112]:
s = Set(["Moni", "Hasan", "Nomi"])
println(s)

Set(["Moni", "Nomi", "Hasan"])

In [115]:
s = Set([1,2,5, "Hello", "How are you"])
println(s)

Set(Any[5, 2, "Hello", "How are you", 1])

In [121]:
s = Set([1,2,5, "Hello", "How are you"])
println("Initial set is :", s)

for i in s
    println(i)
end

println("is Hello in s: \n", in("Hello", s))

Initial set is :Set(Any[5, 2, "Hello", "How are you", 1])
5
2
Hello
How are you
1
is Hello in s:
true

In [127]:
s = Set([1,2,5, "Hello", "How are you"])
push!(s, "welcome")
println(s)

Set(Any[5, "welcome", 2, "Hello", "How are you", 1])

In [128]:
for i in 7:9
    push!(s, i)
end
println(s)

Set(Any[5, "welcome", 2, "Hello", 7, 9, 8, "How are you", 1])

In [134]:
s1 = Set([1, 2, 3, "Moni", "Hasan"])
s2 = Set([7,8,9, "Hello", "Moni"])
println(union(s1, s2))

Set(Any[7, 2, "Moni", "Hello", 9, 8, 3, 1, "Hasan"])

In [132]:
println(union!(s1, s2))

Set(Any[7, 2, "Moni", "Hello", 9, 8, 3, 1, "Hasan"])

In [135]:
s1 = Set([1, 2, 3, "Moni", "Hasan"])
s2 = Set([7,8,9, "Hello", "Moni"])
println(intersect(s1, s2))

Set(Any["Moni"])

In [136]:
println(intersect!(s1, s2))

Set(Any["Moni"])

In [139]:
s1 = Set([1, 2, 3, "Moni", "Hasan"])
s2 = Set([7,8,9, "Hello", "Moni"])
println(setdiff(s1, s2))

Set(Any[2, 3, 1, "Hasan"])

In [140]:
println(setdiff!(s1, s2))

Set(Any[2, 3, 1, "Hasan"])

In [142]:
s1 = Set([1, 2, 3, "Moni", "Hasan"])
delete!(s1, "Hasan")
println(s1)

Set(Any[2, "Moni", 3, 1])